.musicPlayer {
    width: 65%;
    display: grid;
    grid-template-rows: 500px 300px;
}

.imageDiv {
    max-height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.coverImage {
    max-height: 100%;
    object-fit: cover;
}

.controls {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 20px;
}

.iconButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.iconButton img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.iconButton:hover {
    background-color: darkgray;
}