.SongScroller {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    padding-right: 2px;
    padding-left: 50px;
}

.songButton {
    height: 50px;
    text-align: left;
    background-color: rgba(70, 99, 108, 0.27);
    transition: transform 0.2s ease;
    transform-origin: center right; /* grow from right to left */
}

.songButton:hover {
    transform: scale(1.1);
}
